/* Start Sticky Footer */
html, body {
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -50px;
}

/* Set the fixed height of the footer here */
#push, #footer {
  height: 50px;
}

#footer {
  background-color: #1c1e22;
}

#footer div {
  padding-top: 5px;
}

.page-content-for-sticky {
  padding-bottom: 30px;
}

/* End Sticky Footer */

/* Home Page */
.jumbotron .btn-primary {
  font-size: 18px;
}

.site-header {
  text-align: center;
}

.site-header h1 {
  font-size: 42px;
}

.home-features .row div h2, .home-features .row div p {
  margin-left: 100px;
}

/* End Home page */

.faq .jumbotron h1 {
  font-size: 24px;
  line-height: 1;
}

.faq .jumbotron li {
  font-size: 18px;
  line-height: 1.5em;
}

.pricing thead {
  background-color: #1c1e22;
}

.how-it-works h3 {
  font-size: 18px;
}

.how-it-works .panel {
  font-size: 1.3em;
  height: 105px;
  line-height: 1.3em;
}

